---
import MainLayout from "../layouts/MainLayout.astro";
import BigCard from "../components/BigCard.astro";
import image from "../images/tesla.jpg";
---

<MainLayout siteName="Inicio | InverFennix">
	<div class="w-full grid grid-cols-3 place-items-center">
		<BigCard src={image.src} isLarge={false} />
		<BigCard src={image.src} isLarge={true} />
		<BigCard src={image.src} isLarge={false} />
	</div>
</MainLayout>
